In [1]:
name1 = "The Duong"
age1 = 11
address1 = "Hoang Cau, Hanoi"

name2 = "Nam Phong"
age2 = 12
address2 = "BacTL, Hanoi"

In [21]:
student1 = ["The Duong", 11, "Hoang Cau, Hanoi", "Tóc Xoăn", "2M"]
print(student1)
print("----")
for i in range(len(student1)):
    print(student1[i])

['The Duong', 11, 'Hoang Cau, Hanoi', 'Tóc Xoăn', '2M']
----
The Duong
11
Hoang Cau, Hanoi
Tóc Xoăn
2M

In [ ]:
print(student1[0])
print(student1[1])

In [20]:
print(student1[-1])
print(student1[-3])
print(student1[-5])

2M
Hoang Cau, Hanoi
The Duong

In [13]:
length = len(student1)
print("length = ", length)

length =  5

In [1]:
list_num = [7, 5, 10, 11, 70, 23, 69, 173, 21]
result = 0
for i in range(len(list_num)):
    if i % 2 == 0:
        result+=list_num[i]
print(result)

177

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9]
print(nums[1:-2])

[1, 2, 3, 4, 5, 6, 7]

In [22]:
names = ['Trinh', 'Tran', 'Van' ,'Phuong', 'Tuan']
name = ' '.join(names)
print(name)

Trinh Tran Van Phuong Tuan